$txt-family: 'Noto Serif JP', serif;
$eg-family: 'Tai Heritage Pro', serif;
$font-color: #41590C;
$ttl: 4.8vw;
$pc-ttl: 3.8vw;
$txt: 10px;
$pc-txt: 15px;

.section-post {
    &-date {
        font-size: 13px;
        font-family: $eg-family;
        text-align: left;
        margin-top: 8px;
    }
    &-img {
        width: 100%;
        margin-top: 16px;
        & img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    &-txt {
        font-size: $txt;
        font-family: $txt-family;
        margin-top: 8px;
        text-align: left;
    }
    &-button {
        margin-top: 16px;
    }
}

@media screen and (min-width: 520px) {
    .section-post {
        &-inner {
            width: 52%;
        }
        &-date {
            font-size: 20px;
        }
        &-txt {
            font-size: $pc-txt;
            line-height: 1.75em;
        letter-spacing: 0.07em;
            width: 75%;
            margin: 0 auto;
            margin-top: 24px;
        }
        &-button {
            width: 75%;
        }
    }
}